{% extends "base.html" %}

{% block title %}{{ library.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ library.name }}</h1>
        <p class="lead">
            {{ library.address }}<br>
            {{ library.city }}, {{ library.state }} {{ library.zip_code }}
        </p>
        
        <h3>Description</h3>
        <p>{{ library.description or "No description provided." }}</p>
    </div>
</div>

<a href="{{ url_for('libraries') }}" class="btn btn-secondary">Back to List</a>
{% endblock %}